
.planos-img{
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}
.planos-img img {
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-size: 100% 100%;
    border-radius: var(--borderRadios);
    padding: 0;
}
.planos-bg{
    background-color: #9b9999cf;
    font-family: var(--fontPadrao);
}
.planos-bg:nth-child(3){
    background-color: var(--paleta04);
    color: #fff;
}
.planos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1200px;
    margin: 0 auto;
}
.planos-img span{
    display: inline-block;
    background-color: var(--paleta04) ;
    padding: 8px 16px 8px 8px;
    position: absolute;
    top: 20px;
    right: 0px;
    color: var(--paleta05);
    border-radius: 4px 0px 0px 8px;
}
.Planos-conteudo h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}
.btn-plano{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background-image:linear-gradient(to right, var(--paleta05), #afda15a3);
    border: none;
    color: #000;
}
.btn-plano:hover{
   color: #232323; 
}
@media (max-width: 800px){
    .planos-img{
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
}
@media (max-width: 600px){
    .planos {
        grid-template-columns:  1fr;
        justify-items: center;
        align-items: center;
    }
    .Planos-conteudo h2{
        text-align: center;
    }
    .Planos-conteudo p {
        text-align: center;
        padding: 0 30px;
    }
    .beneficius{
        
        margin: 30px auto;
        width: max-content;
    }
}