:root {
    --paleta1: #19a470;
    --paleta2: #000;
    --paleta3: #fff;
    --paleta04: #242424;
    --paleta05: #d7fd52;
    --borderRadios: 4px;
    --fontParagraph: "PT Sans", serif;
    --fontOpercase: "Bebas Neue", serif;
    --fontPadrao: "Roboto", serif;
}