.visit{
    color: var(--paleta3);
}
.visit-container{
    background-image: url("../../img/omid-armin-rAh9rA53UWk-unsplash.jpg");
    width: calc(100vw-20px);
    height: 500px;
   background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
.visit-conteudo{
    display: glid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    

}
.visit h2{
    text-align: center;
    text-shadow: 1px 1px 2px #000;

}
.visit p {
   
    padding-top: 50px;
    text-align: center;
    font-size: 1rem;
    font-family: var(fontPadrao);
    font-weight: 500;
    max-width: max-content;
    padding-bottom: 30px;
}
.visit-email{
    margin: 20px auto !important;
    font-family: 2rem !important;
    width: 350px;
    height: 30px !important;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #00000083;
    text-align: center;
    padding: 20px 0 20px 20px !important;
    text-align: start;
    font-size: 1.1rem;
    border: none;
}
form{
    position: relative;
    ;
}

.input-submit {
    font-family: var(--fontParagraph);
    position: absolute;
    background-color: var(--paleta05);
    color: #000;
    font-size: 1.1rem;
    padding: 0px 30px;
    border-radius: 8px;
    padding: 9px;
    font-weight: 400;
    top: 20px;
    width: 100px;
    font-weight: 600px;
    right: -2px;
    border: none;
   
  
}
.input-submit:hover{
    background-color: var(--paleta04);
    color: #fff;
}
@media (max-width: 800px){
    .visit h2{
        font-size: 1.4rem;
        padding: 0;
        text-align: center;
    }
    #email{
        width: 300px;
        font-size: 0.9rem;
        
    }
}